.action-container {
    background: rgba(236, 237, 238, 1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
}

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* margin: 0 auto; */
    width: auto;
    max-width: 224px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchbar:hover {
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.filter-wrapper select {
    width: 110px;
    padding: 10px;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.filter-wrapper select:focus {
    outline: none;
}

@media(max-width: 1450px) {
    .action-container {
        width: 1280px;
    }
}

@media(max-width: 1400px) {
    .action-container {
        width: 1100px;
    }
}

@media(max-width: 1200px) {
    .action-container {
        width: 1000px;
    }
}

@media(max-width: 1024px) {
    .action-container {
        width: 900px;
    }
}

@media(max-width: 950px) {
    .action-container {
        width: 768px;
    }
}

@media(max-width: 800px) {
    .action-container {
        width: 600px;
    }
}

@media(max-width: 640px) {
    .action-container {
        width: 90%;
    }
}

@media(max-width: 500px) {
    .action-container {
        flex-direction: column;
        gap: 20px;
    }

    .searchbar {
        max-width: 100%;
    }
}